#homework-container {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

#homework-container input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
}

#homework-container table {
    width: 100%;
}

#homework-container table td,
#homework-container table th {
    padding: 5px;
    text-align: left;
}

#homework-container tbody tr:nth-child(odd) {
    background: #ddd;
}